@model IrisWeb.Code.Data.Models.Database.ActivityModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>ActivityModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.NameDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.NameDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DescName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DescName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Perform_Standard)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Perform_Standard)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Work_Unit)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Work_Unit)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.WorkComp_Key)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.WorkComp_Key)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.UOM_Key)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.UOM_Key)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Work_Methods)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Work_Methods)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Inspection)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Inspection)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Authorize)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Authorize)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User1)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User1)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User2)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User2)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User3)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User3)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User4)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User4)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User5)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User5)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User6)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User6)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User7)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User7)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User8)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User8)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User9)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User9)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User10)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User10)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateStamp)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateStamp)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.SecurityUser_Key)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.SecurityUser_Key)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Activity_Key }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
